################################################################################
#                                                                              #
# Pytest generated                                                             #
#                                                                              #
################################################################################
**/.coverage
**/.pytest_cache

################################################################################
#                                                                              #
# Compiled Python                                                              #
#                                                                              #
################################################################################
**/*.py[cod]
**/__pycache__

################################################################################
#                                                                              #
# Python Distribution/Packaging                                                #
#                                                                              #
################################################################################
build/
dist/
*.egg-info/

################################################################################
#                                                                              #
# Miscellaneous                                                                #
#                                                                              #
################################################################################
**/*.swp
