################################################################################
#
# Pytest generated
#
################################################################################
**/.coverage
**/.pytest_cache
**/__pycache__

################################################################################
#
# Compiled Python
#
################################################################################
**/*.py[cod]

################################################################################
#
# Miscellaneous
#
################################################################################
**/*.swp
