################################################################################
#                                                                              #
# Pytest generated                                                             #
#                                                                              #
################################################################################
**/.coverage
**/.pytest_cache
test_report.html

################################################################################
#                                                                              #
# Compiled Python                                                              #
#                                                                              #
################################################################################
**/*.py[cod]
**/__pycache__

################################################################################
#                                                                              #
# Python Distribution/Packaging                                                #
#                                                                              #
################################################################################
build/
dist/
*.egg-info/

################################################################################
#                                                                              #
# Virtual Environment                                                          #
#                                                                              #
################################################################################
testing_venv/

################################################################################
#                                                                              #
# Miscellaneous                                                                #
#                                                                              #
################################################################################
**/*.swp
**/TODO

################################################################################
#                                                                              #
# Default SPaG generated configuration and base output filename(s)             #
#                                                                              #
################################################################################
.spagrc
**/*out*
