################################################################################
#                                                                              #
# Development requirements needed to lint, test, and install SPaG from source. #
#                                                                              #
################################################################################

pip==18.1
pluggy==0.7.1
py==1.6.0
pylint==1.9.3
pytest==3.8.2
pytest-cov==2.6.0
pytest-html==1.19.0
pytest-metadata==1.7.0
setuptools==40.4.3
virtualenv==16.0.0
wheel==0.32.1
