################################################################################
#                                                                              #
# Development requirements needed to lint, test, and install SPaG from source. #
#                                                                              #
################################################################################

pip
pylint
pytest
pytest-cov
pytest-html
pytest-metadata
setuptools
virtualenv
wheel
